/* ==========================================================================
   custom styles
   ========================================================================== */
body {
  padding-bottom: 20px;
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.nav .dropdown:hover > .dropdown-menu {
  margin: 0;
  display: block;
}
/*padding for navbar social icons*/
ul.nav > .social-li {
  padding-top: 12px;
}
.navbar-right {
  padding-top: 20;
}
.jumbotron#heading {
  background-color: #ed4b43;
  background-image: -webkit-linear-gradient(top, #ed4b43, #a1160f);
  background-image: linear-gradient(to bottom, #ed4b43, #a1160f);
  background-repeat: repeat-x;
}
/*customize footer link*/
a {
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #ed4b43;
}
.jumbo-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-bottom: 100px;
}
.breadcrumb a {
  color: #777777;
}
.breadcrumb a:hover {
  text-decoration: none;
  color: #ed4b43;
}
.breadcrumb span {
  color: #ed4b43;
}
/*carousel caption positioning*/
.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
/*carousel caption text styling*/
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
.contact-sidebar {
  width: 280px;
}
.slider-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;
  background-color: #ed4b43;
  background-image: -webkit-linear-gradient(top, #ed4b43, #de1f15);
  background-image: linear-gradient(to bottom, #ed4b43, #de1f15);
  background-repeat: repeat-x;
  margin-top: 0;
}
@media only screen and (max-width: 480px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.jumbo-arrow {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.about-jumbo {
  margin-bottom: 0;
  position: relative;
  height: 100vh;
}
.about-jumbo p {
  font-size: 30px;
}
.about-jumbo h1 {
  margin-bottom: 50px;
}
.about-jumbo .glyphicon-chevron-down,
.about-jumbo .glyphicon-chevron-up {
  color: #333333;
  font-size: 30px;
}
.about-jumbo .glyphicon-chevron-down:hover,
.about-jumbo .glyphicon-chevron-up:hover {
  color: #555555;
}
.about-jumbo .glyphicon-chevron-down#about-heading-arrow,
.about-jumbo .glyphicon-chevron-up#about-heading-arrow {
  color: white;
}
.about-jumbo .glyphicon-chevron-down#about-heading-arrow:hover,
.about-jumbo .glyphicon-chevron-up#about-heading-arrow:hover {
  color: #c2c2c2;
}
