
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
    var aboutAngle = 180,
        locationsAngle = 180;

    $( '#about-nav-click' ).click(function () {
        if ( $( "#locations-nav" ).is( ":hidden" ) && $( '#about-nav' ).is( ":hidden" )) {
            $('#about-arrow').css ({
                '-webkit-transform': 'rotate(' + aboutAngle + 'deg)',
                '-moz-transform': 'rotate(' + aboutAngle + 'deg)',
                '-o-transform': 'rotate(' + aboutAngle + 'deg)',
                '-ms-transform': 'rotate(' + aboutAngle + 'deg)'
            });
            aboutAngle+=180;
            $( '#about-nav' ).slideDown( 300 );
        }
        else if ($( "#locations-nav" ).is( ":visible" ) && $( '#about-nav' ).is( ":hidden" )) {
            $('#about-arrow').css ({
                '-webkit-transform': 'rotate(' + aboutAngle + 'deg)',
                '-moz-transform': 'rotate(' + aboutAngle + 'deg)',
                '-o-transform': 'rotate(' + aboutAngle + 'deg)',
                '-ms-transform': 'rotate(' + aboutAngle + 'deg)'
            });
            aboutAngle+=180;
            $('#locations-arrow').css ({
                '-webkit-transform': 'rotate(' + locationsAngle + 'deg)',
                '-moz-transform': 'rotate(' + locationsAngle + 'deg)',
                '-o-transform': 'rotate(' + locationsAngle + 'deg)',
                '-ms-transform': 'rotate(' + locationsAngle + 'deg)'
            });
            locationsAngle+=180;
            $( "#locations-nav" ).slideUp( 'fast' );
            $( '#about-nav' ).slideDown( 300 );
        }
        else {
            $('#about-arrow').css ({
                '-webkit-transform': 'rotate(' + aboutAngle + 'deg)',
                '-moz-transform': 'rotate(' + aboutAngle + 'deg)',
                '-o-transform': 'rotate(' + aboutAngle + 'deg)',
                '-ms-transform': 'rotate(' + aboutAngle + 'deg)'
            });
            aboutAngle+=180;
            $( '#about-nav' ).slideUp( 300 );
        }
    });
    $( '#locations-nav-click' ).click(function () {
        if ( $( "#about-nav" ).is( ":hidden" ) && $( '#locations-nav' ).is( ":hidden" )) {
            $('#locations-arrow').css ({
                '-webkit-transform': 'rotate(' + locationsAngle + 'deg)',
                '-moz-transform': 'rotate(' + locationsAngle + 'deg)',
                '-o-transform': 'rotate(' + locationsAngle + 'deg)',
                '-ms-transform': 'rotate(' + locationsAngle + 'deg)'
            });
            locationsAngle+=180;
            $( '#locations-nav' ).slideDown( 300 );
        }
        else if ($( "#about-nav" ).is( ":visible" ) && $( '#locations-nav' ).is( ":hidden" )) {
            $('#locations-arrow').css ({
                '-webkit-transform': 'rotate(' + locationsAngle + 'deg)',
                '-moz-transform': 'rotate(' + locationsAngle + 'deg)',
                '-o-transform': 'rotate(' + locationsAngle + 'deg)',
                '-ms-transform': 'rotate(' + locationsAngle + 'deg)'
            });
            locationsAngle+=180;
            $('#about-arrow').css ({
                '-webkit-transform': 'rotate(' + aboutAngle + 'deg)',
                '-moz-transform': 'rotate(' + aboutAngle + 'deg)',
                '-o-transform': 'rotate(' + aboutAngle + 'deg)',
                '-ms-transform': 'rotate(' + aboutAngle + 'deg)'
            });
            aboutAngle+=180;
            $( "#about-nav" ).slideUp( 'fast' );
            $( '#locations-nav' ).slideDown( 300 );
        }
        else {
            $('#locations-arrow').css ({
                '-webkit-transform': 'rotate(' + locationsAngle + 'deg)',
                '-moz-transform': 'rotate(' + locationsAngle + 'deg)',
                '-o-transform': 'rotate(' + locationsAngle + 'deg)',
                '-ms-transform': 'rotate(' + locationsAngle + 'deg)'
            });
            locationsAngle+=180;
            $( '#locations-nav' ).slideUp( 300 );
        }
    });
</script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script async>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
