<!--[if lte IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navigation">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Seishin</a>
            </div>
            <div class="navbar-collapse collapse center" id="navbar">
                <ul class="nav navbar-nav center">
                    <li id="about-nav-click"><a href="#">ABOUT <i class="fa fa-angle-down" id="about-arrow"></i></a></li>
                    <li id="locations-nav-click"><a href="#">LOCATIONS <i class="fa fa-angle-down" id="locations-arrow"></i></a></li>
                    <li id="programs-nav"><a href="programs.html">PROGRAMS</a></li>
                    <li><a href="social.html">SOCIAL</a></li>
                    <li><a href="contact.html">CONTACT US</a></li>
                </ul>
                <ul class="nav navbar-nav center navbar-right">
                    <li class="social-li"><a href="http://www.facebook.com/seishinmaska" target="_blank" title="facebook" class="social facebook"></a></li>
                    <li class="social-li"><a href="http://instagram.com/seishin_karate" target="_blank" title="instagram" class="social instagram"></a></li>
                    <li class="social-li"><a href="http://twitter.com/seishin_karate" target="_blank" title="twitter" class="social twitter"></a></li>
                    <li class="social-li"><a href="http://youtube.com/seishinkarate" target="_blank" title="youtube" class="social youtube"></a></li>
                    <li class="social-li"><a href="http://www.yelp.com/biz/seishin-martial-arts-sport-karate-academy-medway" title="yelp" target="_blank" class="social yelp"></a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="navbar navbar-inverse center" id="about-nav" role="navigation" style="display:none;">
        <div class="navbar-inner">
            <div class="navbar-collapse collapse" id="navbar" style="vertical-align: bottom">
                <ul class="nav navbar-nav" style="vertical-align: bottom">
                    <li class="sec-nav" style="padding-top: 0"><a href="about.html"><span class="glyphicon glyphicon-book nav-icon" style="font-size: 31px"></span><br>OUR STORY</a></li>
                    <li class="sec-nav"><a href="history.html"><span class="nav-icon" style="font-size: 40px;">H</span><br>HISTORY</a></li>
                    <li class="sec-nav" style="padding-top: 0"><a href="staff.html"><span class="glyphicon glyphicon-user nav-icon" style="font-size: 31px"></span><br>STAFF</a></li>
                    <li class="sec-nav" style="padding-top: 0"><a href="tournaments.html"><i class="fa fa-trophy nav-icon" style="font-size: 36px"></i><br>TOURNAMENTS</a></li>
                </ul>

            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="navbar navbar-inverse center" id="locations-nav" role="navigation" style="display:none">
        <div class="navbar-inner">
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="sec-nav" style="padding-top: 0"><a href="locations.html"><span class="glyphicon glyphicon-map-marker" style="font-size: 31px"></span><br>MAP</a></li>
                    <li class="sec-nav"><a href="medway.html"><span class="nav-icon">M</span><br>MEDWAY</a></li>
                    <li class="sec-nav"><a href="natick.html"><span class="nav-icon">N</span><br>NATICK</a></li>
                    <li class="sec-nav"><a href="sherborn.html"><span class="nav-icon">S</span><br>SHERBORN</a></li>
                    <li class="sec-nav"><a href="wellesley.html"><span class="nav-icon">WL</span><br>WELLESLEY</a></li>
                    <li class="sec-nav"><a href="weston.html"><span class="nav-icon">WS</span><br>WESTON</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
</div>